<!-- display_table.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Plans</title>
    <style>
        /* Basic styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        tr:hover {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>

    <h1>Subscription Plans</h1>

    <table>
        <tr>
            <th>Name</th>
            {% for row in data %}
            <td colspan="2">{{ row.name }}</td>
            {% endfor %}
        </tr>
        {% for lieg in lieges %}
        <tr>
            <th>{{lieg}}</th>
            {% for row in offers_live %}
            <td colspan="1">
                {% if row.live  %}
                Free
                {% else %}
                fuck
                {% endif %}
                {{row.live}}
            <td colspan="1">
                {{row}}
            </td>
            </td>
            {% endfor %}

        </tr>

        {% endfor %}
        <tr>
            <th>Monthly Price</th>
            {% for row in data %}
            <td colspan="2">
                {% if row.monthly_price_cents == 0 %}
                Free
                {% else %}
                {{ row.monthly_price_cents|default:"---" }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Yearly Price</th>
            {% for row in data %}
            <td colspan="2">
                {% if row.monthly_price_yearly_subscription_in_cents == 0 %}
                Free
                {% else %}
                {{ row.monthly_price_yearly_subscription_in_cents|default:"---" }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    </table>

</body>

</html>